$base-color: #c6538c
$border-dark: rgba($base-color, 0.88)

p
  border: 1px solid $border-dark

h1
  color: $base-color

#bg4
  background-image: url(https://previews.123rf.com/images/celcinar/celcinar1712/celcinar171200265/92563732-primer-plano-de-hojas-grandes-peque%C3%B1as-anchas-y-largas.jpg)
  brackground-size: cover
  background-position: relative
  background-repeat: no-repeat
 display: block