$base-color: #072a57
$border-dark: rgba($base-color, 0.88)
%border
  border: 20px solid $border-dark


h1
  color: $base-color

#body
  background-image: url("../imagenes/wallpaper.jpg")
  background-size: cover
  background-position: relative
  background-repeat: no-repeat
  display: block
 
.portadas > img
  @extend %border 
  

footer
  @extend %border
  background-color: grey
  text-align: center
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  padding-top: 5px
  padding-bottom: 5px


  
 


  