body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../imagenes/wallpaper.jpg");
}

.fondo{
    background-color: aliceblue;

}


#Texto{
    color:blue;
    font-family: fantasy;
    font-size: x-large;
    text-align: center;
}

#intro{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    
}

button {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
.row{
    margin-top: 20px;
    margin-bottom: 50px;
}
.imagencita{
 padding-top: 50px;
}
.imagencita >img{
    height: 300px;
    width: 400px;
   
}

@media (max-width: 990px) {

    .imagencita >img{
        height: 30rem;
        width: 50rem;
    }
}

@media (max-width: 832px) {

    .imagencita >img{
        height: 20rem;
        width: 25rem;
    }
}
@media (max-width: 360px) {

    .imagencita >img{
        height: 10rem;
        width: 15rem;
    }
}


.totop{
    position: fixed;
    width: 140px;
    height: 50px;
    border: solid 2px black;
    border-radius: 30px;
    bottom: 100px;
    right: -50px;
    background:  no-repeat 12px 50% white;
} 

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.ranking{
    width: 100%;
    margin-top: 50px;
}
.ranking th{
    padding: 10px;
    color: rgba(250, 250, 250);
}
.ranking td{
    background-color: rgba(0, 255, 255, 0.5) ;
    padding: 10px;
    text-align: center;
}
.ranking td.imagen-logo, .ranking td.imagen-logo > img{
    width: 100px;
    height: 100px;
}

.ranking td.Item-position, .ranking td.puntuacion{
font-weight: 800;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(2, 2, 2);
}

.titulo{
    color: antiquewhite;
    font-size: x-large;
}

@media (max-width: 360px) {
.tabla{
    width: 15rem; 
    }

}

footer{
    background-color: grey;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

