h1{
    padding-top: 10px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.ranking{
    width: 100%;
    margin-top: 50px;
}
.ranking th{
    padding: 10px;
    color: rgba(8, 35, 184, 0.89);
}
.ranking td{
    background-color: cyan;
    padding: 10px;
    text-align: center;
}
.ranking td.imagen-logo, .ranking td.imagen-logo>img{
    width: 100px;
    height: 100px;
}

.ranking td.Item-position, .ranking td.puntuacion{
font-weight: 800;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: darkblue;

}