.main_container{
    margin-left: 25px;
}
.totop{
    position: fixed;
    width: 140px;
    height: 50px;
    border: solid 2px black;
    border-radius: 30px;
    bottom: 100px;
    right: -50px;
    background:  no-repeat 12px 50% white;
}